/*img-people*/
.box-img {
    margin-bottom: 30px;
}
.box-img.shadow {
    box-shadow: none;
}

.box-img .body-img img {
    width: 100%;
}
.box-img .body-img{
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0.005em 0.01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12);
}

.box-img .body-img img{
    transform: scale(1);
    transition: transform .4s ease;
}
.box-img .body-img:hover img{
    transform: scale(1.2);
}
.box-img .body-text {
    word-wrap: break-word;
    padding: 15px 5px;
    text-align: center;
    min-height: 120px;
    background-color: #ffffff;
    box-shadow: 0 0.005em 0.01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12);
}
.box-img .body-text .title{
    font-weight: bold;
    letter-spacing: 1px;
    color: #7c7c7c;
    font-size: 16px;
    text-align: center;
}
.box-img .body-text .text{
    letter-spacing: 1px;
    font-size: 100%;
    color: #7c7c7c;
    padding: 2px 0px;
}
/*END-img-people*/