AddDefaultCharset utf-8

RewriteEngine on
RewriteBase /

#RewriteCond [СТРОКА ДЛЯ СРАВНЕНИЯ] [УСЛОВИЕ] [ФЛАГИ]

# Если нет такого файла
RewriteCond %{REQUEST_FILENAME} !-f
# Если нет такой папки
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule [ШАБЛОН] [СТРОКА ПОДСТАНОВКИ] [ФЛАГИ]
RewriteRule ^(.*)$ index.php

Order deny,allow
deny from all
Allow from 82.208.101.181 91.215.79.128
