#developer{
    display: block;
    text-align: right;
    font-family: RobotoCondensedLight;
    color: #ea5353;
}

#developer .developer-description{
    font-size: 12px;
}

#developer .developer-link{

}
#developer .developer-link a{
    color: inherit;
    text-decoration: underline;
}
#developer .developer-link a:hover{
    text-decoration: none;
}
/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1440px) {}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #developer {
        text-align: center;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}