section.item{
    width: 100%;
    padding: 50px 0px;
}

section.item1{
    background-color: #fff;
    min-height: 800px;
}
section.item2{
    min-height: 800px;
    background-color: #e3ffec;
}
section.item3{
    min-height: 800px;
    background-color: #ccecb0;
}
section.item4{
    min-height: 800px;
    background-color: #f0efcc;
}
section.item5{
    min-height: 800px;
    background-color: #c6eaf0;
}
section.item6{
    min-height: 800px;
    background-color: #f4c6e1;
}

section .title-head-section{
    text-align: center;
    font-weight: bold;
    font-size: 4em;
    color: #8c8c8c;
    border-bottom: 1px solid #dbdbdb;
    padding: 20px 0px;
    margin: 0px;
}