section.item{
    background-color: #eee;
    width: 100%;
}

section.item1{
    height: 800px;
}
section.item2{
    height: 800px;
    background-color: #c6e7d1;
}
section.item3{
    height: 800px;
}
section.item4{
    height: 800px;
}
section.item5{
    height: 800px;
}
section.item6{
    height: 800px;
}
section.item7{
    height: 800px;
}