section.item{
    width: 100%;
}

section.item1{
    background-color: #fff;
    height: 800px;
}
section.item2{
    height: 800px;
    background-color: #e3ffec;
}
section.item3{
    height: 800px;
    background-color: #ccecb0;
}
section.item4{
    height: 800px;
    background-color: #f0efcc;
}
section.item5{
    height: 800px;
    background-color: #c6eaf0;
}
section.item6{
    height: 800px;
    background-color: #f4c6e1;
}
section.item7{
    height: 800px;
    background-color: #bcd9f0;
}