::selection {
    background-color: #A9D52B;
    color: #fff; /* Safari */
}
::-moz-selection {
    background-color: #A9D52B;
    color: #fff; /* Firefox */
}
/*Top_menu*/
header#top_header{
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color : #414141;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
header#top_header.hide-color{
    background-color: transparent;
}

header#top_header.hide-color:hover{
    background-color : #414141;
}

header#top_header.small-height .nav > li > a{
    padding: 2px 15px;
}

header#top_header .nav-pills.nav-pills-custom > li > a{
    font-weight: bold;
}

/*END_Top_menu*/

/*Footer*/
footer.footer_info {
    background-color: #363636;
}
footer.footer_info a,
footer.footer_bottom{
    color: #fff;
}

footer.footer_bottom {
    background-color: #414141;
    padding: 5px;
}
footer.footer_info .nav.social-button > li > a {
    font-size: 17px;
    color: #FFF;
}
/*END_Footer*/

.nav-pills.link-help>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: transparent;
}
.nav-pills.link-help li:first-child > a{
    padding-top: 10px;
}
.nav-pills.link-help li > a{
    padding: 5px 15px;
}
.nav-pills.link-help li:last-child > a {
    padding-bottom: 10px;
}
/**/
.nav-pills.nav-pills-custom > li > a.active,
.nav-pills.nav-pills-custom > li > a.active:hover,
.nav-pills.nav-pills-custom > li > a.active:focus {
    border-bottom: 3px solid #A9D52B;
}
.nav-pills.nav-pills-custom > li.active > a,
.nav-pills.nav-pills-custom > li.active > a:hover,
.nav-pills.nav-pills-custom > li.active > a:focus {
    color: #fff;
    background-color: #A9D52B;
}
.nav-pills.nav-pills-custom > li > a:hover,
.nav-pills.nav-pills-custom > li > a:focus {
    text-decoration: none;
    border-bottom: 3px solid #A9D52B;
}
.nav-pills.social-button > li > a:hover,
.nav-pills.social-button > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #A9D52B;
}
.nav-pills.nav-pills-custom > li > a,
.nav-pills.social-button > li > a{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAJCAIAAAB8JNGzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABRJREFUeNpiOHPmDBMDAwM+DBBgAFKMAnXOCX6lAAAAAElFTkSuQmCC') left center no-repeat;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    -moz-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    -ms-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    -o-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
}
.nav-pills.nav-pills-custom > li:first-child > a,
.nav-pills.social-button > li:first-child > a{
    background-image: url("");
}

/*************************************/
.shadow{
    box-shadow: 0 0.005em 0.01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12);
}
.description{
    padding: 10px 5px;
    margin: 0;
    display: table-cell;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7c7c7c;
    height: 60px;
    vertical-align: middle;
}
.title-3{
    padding: 10px 0px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: #7c7c7c;
    height: 60px;
    font-size: 20px;
}

.nopadding{
    padding: 0px !important;
}


/*People-event*/
.info-box{
    text-align: center;
    margin: 20px auto 0px auto;
    max-width: 400px;
}
.info-box:hover i{
    transform: scale(1.3);
}
.info-box i{
    color: #A9D52B;
    font-size: 60px;
    width: 80px;
    height: 80px;
    transition: all .4s ease;
    transform: scale(1);
}
.info-box h3{
    color: #707070;
    font-weight: bold;
    letter-spacing: 1px;
}
.info-box p{
    color: #707070;
    font-size: 16px;
}
/*END-People-event*/

/*blur-block*/
.blur-block{
    position: relative;
    overflow: hidden;
    display: block;
}
.blur-block:hover img{
    filter: Blur(3px);
}
.blur-block:hover .blur-block-info{
    opacity: 1;
}
.blur-block img{
    filter: Blur(0px);
    transition: all .4s ease;
}
.blur-block .blur-block-info{
    transition: all .4s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(169,213,43,0.8);
    top: 0;
    z-index: 100;
    color: #fff;
    vertical-align: middle;
    display: table-cell;
    font-size: 30px;
    left: 0;
    bottom: 0;
    text-align: center;
    right: 0;
}
.blur-block .blur-block-info p{
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: -20px;
}
/*END-blur-block*/

/*Form-contact*/
section#Contacts input.form-control{
    height: auto;
}
section#Contacts .form-group{
    margin-bottom: 25px;
}
section#Contacts input.form-control,
section#Contacts textarea.form-control{
    padding: 20px;
    border-radius: 0px;
}
section#Contacts textarea{
    height: 236px;
    resize: none;
}
section#Contacts .form-control:focus {
    border-color: #A9D52B;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*END-Form-contact*/
/***************************/
.LIST-INFO{
    margin: 0px;
    padding: 0px;
}
.LIST-INFO li{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #707070;
    padding: 10px 0px;
    list-style-type: none;
}