/*Top_menu*/
header#top_header{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color : rgba(255, 255, 255, .4);
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
header#top_header.hide-color{
    background-color: transparent;
    border-bottom: 0;
}
header#top_header:hover,
header#top_header.hide-color:hover{
    background-color : rgba(255, 255, 255, .9);
}

header#top_header.small-height .nav > li > a{
    padding: 2px 15px;
}

header#top_header .nav-pills.nav-pills-custom > li > a{
    font-weight: bold;
}

/*END_Top_menu*/

/*Footer*/
footer.footer_info {
    background-color: #363636;
}
footer.footer_info a,
footer.footer_bottom{
    color: #fff;
}

footer.footer_bottom {
    background-color: #414141;
    padding: 5px;
}
footer.footer_info .nav.social-button > li > a {
    font-size: 17px;
    color: #FFF;
}
/*END_Footer*/

.nav-pills.link-help>li>a:focus, .nav>li>a:hover {
    text-decoration: underline;
    background-color: transparent;
}
.nav-pills.link-help li:first-child > a{
    padding-top: 10px;
}
.nav-pills.link-help li > a{
    padding: 5px 15px;
}
.nav-pills.link-help li:last-child > a {
    padding-bottom: 10px;
}
/**/
.nav-pills.nav-pills-custom > li > a.active,
.nav-pills.nav-pills-custom > li > a.active:hover,
.nav-pills.nav-pills-custom > li > a.active:focus {
    border-bottom: 3px solid #A9D52B;
}
.nav-pills.nav-pills-custom > li.active > a,
.nav-pills.nav-pills-custom > li.active > a:hover,
.nav-pills.nav-pills-custom > li.active > a:focus {
    color: #fff;
    background-color: #A9D52B;
}
.nav-pills.nav-pills-custom > li > a:hover,
.nav-pills.nav-pills-custom > li > a:focus {
    text-decoration: none;
    border-bottom: 3px solid #A9D52B;
}
.nav-pills.social-button > li > a:hover,
.nav-pills.social-button > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #A9D52B;
}
.nav-pills.nav-pills-custom > li > a,
.nav-pills.social-button > li > a{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAJCAIAAAB8JNGzAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABRJREFUeNpiOHPmDBMDAwM+DBBgAFKMAnXOCX6lAAAAAElFTkSuQmCC') left center no-repeat;
    text-transform: uppercase;
    color: #8c8c8c;
    -webkit-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    -moz-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    -ms-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    -o-transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
    transition: background-color .3s ease,
    padding .3s ease, font-size .3s ease;
}
.nav-pills.nav-pills-custom > li:first-child > a,
.nav-pills.social-button > li:first-child > a{
    background-image: url("");
}

/*************************************/
.shadow{
    box-shadow: 0 0.005em 0.01em 0 rgba(0,0,0,.12),0 2px 10px 0 rgba(0,0,0,.12);
}
.description{
    padding: 10px 5px;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #7c7c7c;
}
.title-3{
    padding: 10px 0px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: #7c7c7c;
    font-size: 20px;
}

.nopadding{
    padding: 0px !important;
}
/***************************/
.LIST-INFO{
    margin: 0px;
    padding: 0px;
}
.LIST-INFO li{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: #707070;
    padding: 10px 0px;
    list-style-type: none;
}