.lb-outerContainer,
.lightbox .lb-image{
    border-radius: 0px;
}
.lb-dataContainer {
    background-color: #fff;
    border-radius: 0px;
}
.lb-data .lb-details span {
    padding: 5px 10px;
}


.lb-dataContainer,
.lb-data,
.lb-container{
    padding: 0px;
}
.lb-data .lb-caption {
    display: block;
    color: #7c7c7c;
}



.lb-data{
    display: table;
    width: 100%;
}
.lb-data .lb-details {
    display: table-cell;
    width: auto;
    float: none;
    line-height: 1.1em;
}
.lb-closeContainer{
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    transition: background-color .2s linear;
    position: relative;
}
.lb-closeContainer:hover{
    background-color: #A9D52B;
}
.lb-closeContainer:hover .lb-close{
    color: #fff;
}
.lb-data .lb-close {
    float: none;
    width: 100%;
    position: absolute;
    background: none;
    color: #7c7c7c;
    top: 0px;
    text-align: center;
    height: 100%;
    transition: color .2s linear;
    bottom: 0;
    left: 0px;
    right: 0px;
}
.lb-data .lb-close i{
    position: absolute;
    top: 50%;
    height: 15px;
    width: 15px;
    left: 50%;
    margin-top: -7.5px;
    margin-left: -7.5px;
}
.lb-data .lb-number {
    text-align: center;
    color: #ccc;
}